.container-header {
  width: 90%;
  margin: 10px auto;
  display: block;
}

.header-menu {
  width: 98%;
  display: block;
  margin: 25px auto;
}

.header-div-order {
  width: 10%;
  display: inline-block;
  margin-left: 2%;
}

.btn-floating {
  transform: scale(1.2);
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search {
  width: 100%;
  margin-right: 20px;
}

.container-header {
  width: 70vw;
  display: flex;
  margin: auto;
  margin-top: 2%;
}


.spacer {
  width: 2%;
}

.card-generator {
  margin-left: 35px;
}

@media only screen and (max-width: 920px) {
  .card-generator {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .card-generator {
    margin-left: 0px;
  }
}
