.container-main {
  width: 40%;
  margin: auto;
}

.logo-login {
  margin: 3% auto;
  display: block;
}

@media (max-width: 1310px) {
  .container-main {
    width: 70%;
  }
}


@media (max-width: 750px) {
  .container-main {
    width: 98%;
  }
}
