
<img src="assets/ifsp_btv.png" width="200px" height="200px" class="logo-login">
<div class="container-main">

  <z-form-material
  [title]="'frm_title_forgot_pass' | zTranslate"
  [formProvider]="formChange"
  [showLoading]="isChangeLoading"
  [showClearButton]="false"
  [submitText]="'btn_forget_confirm' | zTranslate"
  (submitValue)="sendValue($event)">


    <ng-template #extraActions>
      <button mat-raised-button color="accent" (click)="cancel()">{{'btn_forget_cancel' | zTranslate}}</button>
    </ng-template>

  </z-form-material>

</div>
