<mat-tab-group (selectedTabChange)="changeTab($event)" style="min-height: 80vh;" animationDuration="200ms"
  [selectedIndex]="currentTab">

  <!-- ? Tab - List -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">search</mat-icon>
      {{'tab_search' | zTranslate}}
    </ng-template>

    <div class="full-table-container mat-elevation-z3">
      <div *ngIf="isLoadingList" class="loading-shade">
        <mat-spinner></mat-spinner>
      </div>

      <div class="container-header">
        <mat-form-field appearance="outline" class="input-search">
          <mat-label>{{'tab_search' | zTranslate}}</mat-label>
          <input matInput type="text" (keyup)="filterEvent.next()" [(ngModel)]="filterStr" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <span class="spacer"></span>

        <button mat-fab (click)="refreshTable.next()">
          <mat-icon>refresh</mat-icon>
        </button>

      </div>

      <div class="table-container">

        <table mat-table [dataSource]="dataSource" class="table-main">

          <ng-container [matColumnDef]="'codigo'">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row"> {{ row.codigo }}</td>
          </ng-container>

          <ng-container [matColumnDef]="'data'">
            <th mat-header-cell *matHeaderCellDef>{{'frm_input_order_user_data' | zTranslate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.data }}</td>
          </ng-container>

          <ng-container [matColumnDef]="'metodoPagamento'">
            <th mat-header-cell *matHeaderCellDef>{{'frm_input_order_user_payment' | zTranslate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.metodoPagamento }}</td>
          </ng-container>

          <ng-container [matColumnDef]="'usuario'">
            <th mat-header-cell *matHeaderCellDef>{{'frm_input_order_user_user' | zTranslate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.usuario }}</td>
          </ng-container>

          <ng-container [matColumnDef]="'status'">
            <th mat-header-cell *matHeaderCellDef>{{'frm_input_order_user_status' | zTranslate}}</th>
            <td mat-cell *matCellDef="let row"> {{ row.status }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="invisible-th"></th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngTemplateOutlet="actionTemplate;context:{obj: row}"></ng-container>
            </td>
          </ng-container>

        </table>

        <div class="mat-paginator-sticky-container">
          <mat-paginator class="mat-paginator-sticky mat-elevation-z2" [length]="resultLength" [pageSize]="25"
            [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
        </div>

      </div>

      <ng-template #actionTemplate let-row="obj">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="viewRow(row)">
            <mat-icon>wysiwyg</mat-icon>
            <span>{{'tab_view' | zTranslate}}</span>
          </button>

        </mat-menu>

      </ng-template>
    </div>

  </mat-tab>

  <!-- ? Tab - Register -->
  <mat-tab [disabled]="currentTab != 1">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">wysiwyg</mat-icon>
      {{'tab_view' | zTranslate}}
    </ng-template>


  </mat-tab>

</mat-tab-group>
