<img src="assets/ifsp_btv.png" width="200px" height="200px" class="logo-login">

<div class="container-main">
  <z-form-material
  [title]="'frm_title_lg' | zTranslate"
  [formProvider]="this"
  [showLoading]="isLoading"
  [showClearButton]="false"
  [submitText]="'btn_login' | zTranslate"
  (submitValue)="sendValue($event)"
  [alignActionRigth]="true"
  >

    <ng-template #extraBody>
      <div class="forgot-password-container">
        <a class="forgot-password-link" (click)="forgotPassword()">{{'btn_url_forget_password' | zTranslate}}</a>
      </div>
    </ng-template>

    <ng-template #extraActions>
      <button mat-raised-button color="accent" (click)="register()">{{'btn_url_register' | zTranslate}}</button>
      <!-- <button mat-raised-button class="btn-forget-password" (click)="forgotPassword()">{{'btn_url_forget_password' | zTranslate}}</button> -->
    </ng-template>

  </z-form-material>


</div>
