<!-- Campo de loading -->
<div *ngIf="isLoading" class="loading-shade">
  <mat-spinner></mat-spinner>
</div>

<!-- Campo de Busca -->
<!-- <div class="container-header">
  <button mat-stroked-button color="accent" class="button-order" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
    {{ "btn_back" | zTranslate }}
  </button>
</div> -->


<!-- Lista de Itens Selecionados -->
<div class="shopping-list">
  <div *ngFor="let item of items">
    <shopping-item class="shopping-list-item" [item]="item"></shopping-item>
  </div>
</div>

<!-- Resumo da Compra -->
<div class="shopping-resume">
  <div>

    <h2 class="shopping-resume-title">{{ "frm_label_resume_title" | zTranslate }}</h2>

    <!-- Total de Itens -->
    <div class="shopping-resume-item">
      <h3 class="shopping-resume-subtitle">{{ "frm_label_value_title" | zTranslate }}</h3>
      <p class="shopping-resume-value">{{ totalValue }}</p>
    </div>

    <!-- Escolher metodo de pagamento -->

    <!-- Botoes -->
    <button mat-flat-button color="accent" class="shopping-resume-button">
      {{ "btn_proceed_to_checkout" | zTranslate }}
    </button>

    <button mat-stroked-button color="accent" class="shopping-resume-button" (click)="back()">
      {{ "btn_continue_shopping" | zTranslate }}
    </button>

  </div>
</div>
