.tab-icon {
  margin-right: 8px;
}

.full-table-container {
  position: relative;
  min-height: 100vh;
  background-color: white;
  padding-top: 2%;
}

.input-search {
  width: 100%;
  margin-right: 20px;
}

.container-header {
  width: 60vw;
  display: flex;
  margin: auto;
}

.spacer {
  flex: 1 1 auto;
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  position: relative;
  padding-bottom: 60px;
  overflow: auto;
}

.table-main {
  width: 100%;
}

.mat-paginator-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
}


.mat-column {
  min-width: 50px;
  padding-right: 8px;
}

td.mat-column-actions {
  width: 20px;
  padding-right: 8px;
}

td.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

td.mat-cell, th.mat-header-cell {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
