
.item {
  height: 15vh;
}

.line {
  height: 1px;
  width: 99%;
  margin: auto;
  display: block;
  background: rgba(0, 0, 0, 0.15);
}

.row {
  margin-top: 1%;
}

.margin-auto {
  margin: auto;
}

.image-container {
  padding: 5px;
}

.quantity-container {
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
  border-top: 0px solid transparent !important;
  vertical-align: middle;
}

.image {
  width: 8vw;
  height: 13vh;
  border-radius: 3px 0px 0px 3px!important;
}


// TODO: shopping title
.title {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  margin-bottom: 0px !important;
}

.subtitle {
  font-size: 1em;
  margin-bottom: 0px !important;
}

.description-row {
  font-size: 0.9em;
  color: grey;
  margin-bottom: 2% !important;
  text-align: center;
}

.value-row {
  font-size: 1.2em;
  color: black;
  margin-bottom: 0px !important;
  text-align: center;
}
