
.shopping-item-container {
  width: 60vw;
  height: 80px;
}

.image-container {
  padding: 5px;
}

.description-container {
  padding: auto !important;
  margin: auto !important
}

.quantity-container {
  padding: auto !important;
  margin: auto !important
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 3px 0px 0px 3px!important;
}
